/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font), sans-serif;
  background-image: var(--gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--regular-weight);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.block-template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--block-width);
  margin: 0 auto;
  border: var(--block-border);
  background-color: var(--main-bg-color);
}

.header {
  width: var(--block-width);
  margin: 100px auto;
  padding-block: var(--header-padding-block);


}

.header__logo {
  margin-bottom: 20px;
  font-family: var(--accent-font), monospace;
  font-size: clamp(49px, 6vw, 65px);
}

.header__subtitle {
  font-family: var(--accent-font), monospace;
  font-size: clamp(14px, 2vw, 23px);
  text-transform: uppercase;
}

.card__title {
  display: flex;
  align-items: center;
  align-self: stretch;
  border-bottom: var(--block-border);
  padding: 4px 10px;
  font-size: var(--regular-font-size);
  font-variation-settings: 'wght' var(--title-weight);
}

.card__image-container {
  position: relative;
  width: 100%;
  margin: 0;
  border-bottom: var(--block-border);
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  line-height: 21px;
}

.card__text {
  padding: 25px 25px 0 25px;
  font-size: var(--regular-font-size);
  font-variation-settings: 'wght' var(--regular-weight);
}

.card__reactions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  padding: 25px 25px 25px;
}

.card__label {
  position: absolute;
  top: 27px;
  right: 25px;
  opacity: 0.5;
  color: var(--color-accent);
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  text-shadow: 1px 1px 0 var(--label-stroke-color);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke-color);
  }
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  padding: 3.5px;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-accent);
}

.card__like-button {
  justify-content: center;
  min-width: 130px;
  height: 38px;
}

.content__main-button {
  display: flex;
  justify-content: center;
  padding: 0 0 100px;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  border: var(--block-border);
  padding: 15px 20px;
  overflow: hidden;
  color: var(--button-text-color);
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  background-color: var(--main-bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color-accent);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  pointer-events: none;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-accent);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.save-button__icon {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  color: var(--button-text-color);
  fill: currentColor;
  mix-blend-mode: difference;
}

.dialog {
  top: 0;
  left: 0;
  display: none;
  max-width: 353px;
  margin: auto;
  border: var(--block-border);
  padding: 30px;
  background-color: var(--main-bg-color);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog__content {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__button {
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.dialog::backdrop {
  background-color: rgb(var(--color-accent) / 0.75);
}

.like-icon {
  overflow: visible;
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.card__image_regular {
  filter: none;
}

.card__image_contrast {
  filter: contrast(70%);
}

.card__image_grayscale {
  filter: grayscale(1);
}

.card__image_brightness {
  filter: brightness(130%);
}

.card__image_hue-rotate {
  filter: hue-rotate(90deg);
}

.card__image_sepia {
  filter: sepia(50%);
}

.card__image_saturate {
  filter: saturate(200%);
}

.card__image_combo {
  filter: blur(0.4em) grayscale(1) contrast(0.4);
}

.svg-sprite {
  display: none;
}

.heart {
  width: 27px;
  height: 24px;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }

  .save-button__icon {
    width: 28px;
    height: 28px;
  }

  .dialog[open] {
    width: 341px;
    padding: 30px 40px;
  }

}
